body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}

.form-container {
  display: flex;
  border: darkblue;
  border-style: solid;
  justify-content:center;
  justify-self: center;
}

#log-in {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.navBar {
  display: flex;
  justify-items: flex-end;
}

.body {
  background-color: aliceblue;
}

.links {
  display: flex;
  align-items: flex-end;
}